*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
}

body {
  font-size: 16px;
  margin: 0;
  color: #333;
  background-color: rgb(246, 246, 253);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: rgb(74, 102, 158);
  transition: ease 0.3s;
}
a:hover {
  color: rgb(83, 34, 197);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}
figure {
  display: inline-block;
  margin: 0;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
li {
  padding: 5px;
}
sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: left;
}

.avatar-section {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.list-section {
  padding: 5px;
}

.avatar-frame {
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  display: block;
  max-width: 300px;
}

#footer {
  margin-top: 50px;
  border-top: 1px solid #dfe1e6;
  min-height: 100px;
  text-align: center;
  padding: 30px;
}
.code {
  border-left: 4px solid rgb(228, 115, 115);
  padding: 20px;
  max-width: 500px;
  background: rgba(221, 202, 240, 0.267);
}
.caption {
  padding: 10px;
  color: #333;
}

.header {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  padding: 20px;
  background: rgb(138, 253, 172);
  margin-bottom: 50px;
}
